body{
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: none;	
	color:#553388;
}

#searchbar > div{
	padding-right:0;
	margin-top:20px;
}

header{
	background:#ff005a;
	border-bottom:1px solid #ccc;
	padding-top:15px;
}
#logo{
	font-family: 'Pacifico', cursive;
}

#logo a{
	color:#fff;
}

#logo a:hover{
	text-decoration: none;
	color:#fff;
}

#content #promo img{
	width:100%;
}

#content{
	overflow:hidden;
	min-height:100%;
	position:relative;
	padding-bottom:70px;
}

#content .row {
	margin-bottom: 20px;
}
#content main .row{
	margin-bottom:40px;
}

.row.banner_grid img{
	height: 310px;
	width: auto;
}

#footer {
	background:#030402;
	width:100%;
	height:60px;
	position:fixed;
	padding-bottom:50px;
	bottom:0;
	left:0;
	color: #fff;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
	padding-left:0;
	padding-right:0;
}

#sidebar-left img{
	width:100%;
}

main .row{
	margin-left:15px;
}

#hot-promo{
	background: url(../images/fashion2.jpg) no-repeat;
	min-height:200px;
	min-height: 350px;
	position:relative;
	background-size: 100% auto;
}

#hot-promo button.cta{
	position:absolute;
	right:20px;
	bottom:20px;
}

@media screen and (max-width:720px){
	#logo{
		float:left;
	}
	#sidebar-left{
		display:none;
	}
	#hot-promo{
		min-height:150px;
	}
}

